@charset "UTF-8";

#example{
	text-align: center;
}

.jumbotron {
  background-color: black;
  padding: 100px 25px;
}

#onediv{
	margin-top: 30px;
	margin-bottom: 50px;
}

#secondiv{
	margin-top: 30px;
	margin-bottom: 30px;
}

#thirdiv{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #E2E2E2;
}
#fourthdiv{
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: "resources/images/teamwork.png";
	background-clip: 
}
#footer{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #E2E2E2;
}